body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f9;
}

h1 {
  color: #333;
}

.region-selector {
  margin: 20px 0;
}

select {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #0288d1;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #026aa7;
}

.prayer-times {
  margin-top: 20px;
  text-align: left;
}

.prayer-times ul {
  list-style-type: none;
  padding: 0;
}

.prayer-times li {
  margin: 10px 0;
  font-size: 18px;
}
